body,td,p,option,input,li {font-size: 12px}

a {
	text-decoration: none;
}

a:link {
	
	font-size: 12px;
	color: #000000;
}
a:visited {
	
	font-size: 12px;
	color: #000000;
}
a:hover {
	
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
a:active {
	
	font-size: 12px;
	color: #000000;
}

.a02:link {
	
	font-size: 12px;
	color: #164CAE;
}
.a02:visited {
	
	font-size: 12px;
	color: #164CAE;
}
.a02:hover {
	
	font-size: 12px;
	color: #FE5A01;
	text-decoration: none;
}
.a02:active {
	
	font-size: 12px;
	color:#FE5A01;
}

.a03:link {
	
	font-size: 12px;
	color: #000000;
}
.a03:visited {
	
	font-size: 12px;
	color: #000000;
}
.a03:hover {
	
	font-size: 12px;
	color: #FE5A01;
	text-decoration: none;
}
.a03:active {
	
	font-size: 12px;
	color:#FE5A01;
}

.input {
	
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 120px;
	text-decoration: none;
	padding-top: 1px;
	padding-left: 3px;
	height: 13px;
	border: 1px solid #CCCCCC;
}

.input_black {
	
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 120px;
	text-decoration: none;
	padding-top: 1px;
	padding-left: 3px;
	height: 20px;
	border: 1px solid #000000;
}

.button33 {
	
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 40px;
	border: 1px solid #CCCCCC;
	height: 18px;
	padding-top: 1px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
}

.font_orange {
	
	font-size: 12px;
	line-height: 18px;
	color: #FE5A01;
}

.font_black {

	
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}
.font_navigate {
	
	font-size: 12px;
	color: #666666;
}
.font_title {
	
	font-size: 14px;
	font-weight: bold;
	color: #FE5A01;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	line-height: 22px;
}
.font_content {
	
	font-size: 12px;
	line-height: 20px;
	color: #636562;
	padding: 0px;
}
.font_menu {
	
	font-size: 12px;
	line-height: 20px;
	color: #205DA8;
	letter-spacing: 4px;
}
.font_blue {

	
	font-size: 12px;
	line-height: 20px;
	color: #205DA8;
}


.td_height7 {
	padding-top: 7px;
}
.font_content_index {
	
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding: 0px 0px 0px 6px;
}
.input150 {

	
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
	width: 150px;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	height: 16px;
	border: 1px solid #CCCCCC;
}

.input195 {

	
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
	width: 195px;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	height: 16px;
	border: 1px solid #CCCCCC;
}

.input3 {

	
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 130px;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	height: 18px;
	border: 1px solid #acacac;
}
.input4 {

	
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	border: 1px solid #acacac;
}
.input_date {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 80px;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;
	height: 20px;
	border: 1px solid #acacac;
}


.input1 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 150px;
	text-decoration: none;
	padding-top: 1px;
	padding-left: 3px;
	height: 13px;
	border: 1px solid #CCCCCC;
}

.font_blod {
	
	font-size: 12px;
	font-weight: bold;
	color: #FE5A01;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	line-height: 22px;
}
.font_white {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.button {
	font-family: "??", Arial;
	font-size: 12px;
	color: #225DAB;
	width: 48px;
	height: 20px;
	padding-top: 2px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
	background-image: url(../images/botton1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0px;
	border-top: 0px none #666666;
	border-right: 0px none #666666;
	border-bottom: 0px none #666666;
	border-left: 0px none #666666;
}

.button5 {
	font-family: "ו", Arial;
	font-size: 12px;
	color: #000000;
	width: 70px;
	height: 24px;
	padding-top: 2px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
	background-image: url(../images/bg11.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0px;
	border-top: 0px none #666666;
	border-right: 0px none #666666;
	border-bottom: 0px none #666666;
	border-left: 0px none #666666;
}
.button2 {
	font-family: "ו", Arial;
	font-size: 12px;
	color: #555555;
	width: 43px;
	height: 20px;
	padding-top: 2px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 2px;
	background-image: url(../images/b1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0px;
	border-top: 0px none #666666;
	border-right: 0px none #666666;
	border-bottom: 0px none #666666;
	border-left: 0px none #666666;
}
.font_green {
	font-size: 12px;
	color: #2E8510;
	text-decoration: none;
}
.font_red {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.font_red_14 {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
}
.font_yellow {
	font-size: 12px;
	color: #FFDD00;
	text-decoration: none;
}
.font_light_blue {
	font-size: 12px;
	color: #ADD5F8;
	text-decoration: none;
}
.font_qingse {
	font-size: 12px;
	color: #00476D;
	text-decoration: none;
}
.font_black14 {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.font_bule2 {
	font-size: 12px;
	color: #0254DE;
	text-decoration: none;
}
.font_blue_title {
	font-size: 12px;
	color: #0C87CD;
	text-decoration: none;
}
.input_more {
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	padding-top: 2px;
	border: 1px solid #acacac;
	} 
