#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:307px;
}
#u26 {
  position:absolute;
  left:13px;
  top:6px;
  width:215px;
  height:307px;
}
#u27 {
  position:absolute;
  left:2px;
  top:146px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:76px;
  top:127px;
  width:237px;
  height:153px;
}
#u29 {
  position:absolute;
  left:2px;
  top:68px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u30 {
  position:absolute;
  left:84px;
  top:127px;
  width:79px;
  height:23px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:73px;
}
#u32 {
  position:absolute;
  left:90px;
  top:150px;
  width:121px;
  height:73px;
}
#u33 {
  position:absolute;
  left:2px;
  top:28px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u34 {
  position:absolute;
  left:122px;
  top:149px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:122px;
  top:167px;
  width:123px;
  height:22px;
  font-size:12px;
  text-align:left;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u38 {
  position:absolute;
  left:122px;
  top:185px;
  width:123px;
  height:22px;
  font-size:12px;
  text-align:left;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:122px;
  top:204px;
  width:123px;
  height:22px;
  font-size:12px;
  text-align:left;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u42 {
  position:absolute;
  left:106px;
  top:153px;
  width:19px;
  height:16px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u44 {
  position:absolute;
  left:106px;
  top:170px;
  width:19px;
  height:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u46 {
  position:absolute;
  left:106px;
  top:189px;
  width:19px;
  height:16px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u48 {
  position:absolute;
  left:106px;
  top:207px;
  width:19px;
  height:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u50 {
  position:absolute;
  left:238px;
  top:14px;
  width:162px;
  height:22px;
  font-size:12px;
  text-align:left;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:238px;
  top:46px;
  width:627px;
  height:234px;
}
#u53 {
  position:absolute;
  left:2px;
  top:109px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u54 {
  position:absolute;
  left:325px;
  top:72px;
  width:75px;
  height:22px;
  font-size:14px;
  text-align:left;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:104px;
  top:51px;
  width:195px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
/* .sjqx_apd {
  position:absolute;
  left:404px;
  top:71px;
  width:195px;
  height:25px;
}
.sjqx_apd_inp {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
} */
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:319px;
  top:63px;
  width:16px;
  height:2px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u57 {
  position:absolute;
  left:609px;
  width:16px;
  height:2px;
}
.u58 {
  position:absolute;
  left:2px;
  top:-7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u59 {
  position:absolute;
  left:404px;
  width:195px;
  height:25px;
}
.u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.da_input {
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.minus_div {
	margin-left: 10px;
	position:absolute;
	width:16px;
	height:2px;
	background:inherit;
	background-color:rgba(153, 153, 153, 1);
	border:none;
	border-radius:0px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.plus1 {
	margin-left: 10px;
	position:absolute;
	width:16px;
	height:2px;
}
.plus1_div {
	position:absolute;
	width:16px;
	height:2px;
	background:inherit;
	background-color:rgba(102, 255, 255, 1);
	border:none;
	border-radius:0px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.plus2 {
	margin-left: 10px;
	position:absolute;
	width:16px;
	height:2px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
.plus2_div {
	position:absolute;
	width:16px;
	height:2px;
	background:inherit;
	background-color:rgba(102, 255, 255, 1);
	border:none;
	border-radius:0px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#u59 {
  position:absolute;
  left:104px;
  top:85px;
  width:195px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:104px;
  top:121px;
  width:195px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:319px;
  top:132px;
  width:16px;
  height:2px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:319px;
  top:132px;
  width:16px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u64 {
  position:absolute;
  left:2px;
  top:-7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:319px;
  top:97px;
  width:16px;
  height:2px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#sjqxSave_1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#sjqxSave_1 {
  position:absolute;
  width:81px;
  height:31px;
}
#sjqxSave_2 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#sjqxRe_1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#sjqxRe_1 {
  position:absolute;
  width:81px;
  height:31px;
}
#sjqxRe_2 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u71 {
  position:absolute;
  left:172px;
  top:146px;
  width:39px;
  height:33px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:178px;
  top:138px;
  width:33px;
  height:22px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:88px;
  height:21px;
}
#u75p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:80px;
  height:1px;
}
#u75p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:92px;
  height:22px;
}
#u75p001 {
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u75p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u75.compound {
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:150px;
  top:160px;
  width:78px;
  height:1px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:88px;
  height:21px;
}
#u77p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:80px;
  height:1px;
}
#u77p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:90px;
  height:22px;
}
#u77p001 {
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u77p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u77.compound {
  width:0px;
  height:0px;
}
#u77 {
  position:absolute;
  left:643px;
  top:84px;
  width:78px;
  height:1px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:731px;
  top:74px;
  width:33px;
  height:22px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:88px;
  height:21px;
}
#u81p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:80px;
  height:1px;
}
#u81p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:90px;
  height:22px;
}
#u81p001 {
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u81p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u81.compound {
  width:0px;
  height:0px;
}
#u81 {
  position:absolute;
  left:643px;
  top:152px;
  width:78px;
  height:1px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:731px;
  top:142px;
  width:33px;
  height:22px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
