@charset "gb2312";


/*  Public Css style for compatible other view  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquoto,th,img,bottom{
	margin:0px;
	padding:0px;
	color:#525252;
	line-height:20px;
}
input{
	margin:0px;
	padding:0px;
	line-height:20px;

}
hr {
	height:1px;
	border:none;
	border-top:1px dashed #ccc;
}

ul,ol,li{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,abbr,acronym{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
}
ul,ol{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
body,div{
	zoom:1;
	font-size:12px;
	font-family: "ו";
}
a,a:hover{
	color:#666666;
	font-family: "ו";
	text-decoration:none;
}
p{
	text-indent:24px;
}
.f12 {
	font-size:12px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px;
}
.f18 {
	font-size:18px;
}
.f20 {
	font-size:20px;
}
/*  Public Css Style  */
.block{
	display:block;
}
.none {
	display:none;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
	height:1px;
	line-height:1px;
}
.cLR {
	clear:both;
}
.box {
	margin-bottom:10px;
}
.cont{
	padding:10px;
}
.m10 {
	margin:10px;
}
.mt10 {
	margin-top:10px;
}
.mr10 {
	margin-right:10px;
}
.mb10 {
	margin-bottom:10px;
}
.ml10 {
	margin-left:10px;
}
.p10 {
	padding:10px;
}
.pt10 {
	padding-top:10px;
}
.pr10 {
	padding-right:10px;
}
.pb10 {
	padding-bottom:10px;
}
.pl10 {
	padding-left:10px;
}
p0{
	padding:0px;
}
p10{
	padding:10px;
}
.test {
	background-color:red;
}


.red {
	color:red;
}
.white {
	color:white;
}
.blue {
	color:bule;
}
.gray {
	color:gray;
}
.green {
	color:green;
}
